@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #0b0b0b;
  --primary-gray: #eeeeee;
  --secondary-gray: #bebebe;
  --tertiary-gray: #f6f6f6;
  --neutral-gray: #dddce0;
  --content-inverse-primary: #fffffc;
  --content-inverse-secondary: #bfbdb6;
  --content-primary: #21211f;
  --content-secondary: #595855;
  --content-tertiary: #3a3a3a;
  --background-accent: #33e5b0;
  --border-opaque: #bfbdb6;
  --text-gray: #6a6a6a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-gray: var(--primary-gray);
  --color-secondary-gray: var(--secondary-gray);
  --color-tertiary-gray: var(--tertiary-gray);
  --color-neutral-gray: var(--neutral-gray);
  --color-inverse-primary: var(--content-inverse-primary);
  --color-inverse-secondary: var(--content-inverse-secondary);
  --color-content-primary: var(--content-primary);
  --color-content-secondary: var(--content-secondary);
  --color-content-tertiary: var(--content-tertiary);
  --color-background-accent: var(--background-accent);
  --color-border-opaque: var(--border-opaque);
  --font-sans: var(--font-inter);
  --font-raleway: var(--font-raleway);
  --font-open-sans: var(--font-open-sans);
  --text-gray: var(--text-gray);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
